[Desktop Entry]
Comment[en_US]=Open AceStreams
Comment=Open AceStreams
Exec=/mypath/acelink/acelink.sh %u
Icon=/mypath/acelink/icon.png
GenericName[en_US]=
MimeType=x-scheme-handler/acestream
Name[en_US]=AceLink
Name=AceLink
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
GenericName=AceLink
