[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=AceLink

# A comment which can/will be used as a tooltip
Comment=Open AceLink

# The executable of the application, possibly with arguments.
Exec=echo http://127.0.0.1:6878/ace/getstream?content_id=%u

# The name of the icon that will be used to display this entry
Icon=icon.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Media

# 	The MIME type(s) supported by this application.
MimeType=x-scheme-handler/acestream;