[Desktop Entry]
Comment[en_US]=Open AceStreams
Comment=Open AceStreams
Exec=bash -c "vlc http://127.0.0.1:6878/ace/getstream?content_id=\\${%u#acestream://}"
GenericName[en_US]=
MimeType=x-scheme-handler/acestream
Name[en_US]=AceLink
Name=AceLink
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
GenericName=AceLink
